.main-content {
	width: 80%;
	margin: auto;
	background: white;
	border-width: 5px;
	border-color: white;
	border-style: solid;
}


table.item-table {
	color:#333333;
	border-width: 1px;
	border-color: #C5DBEC;
	border-collapse: collapse;
}
table.item-table th {
	border-width: 1px;
	border-style: solid;
	border-color: #C5DBEC;;
}
table.item-table td {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #C5DBEC;;
}

table.laundry {
	color:#333333;
	border-width: 1px;
	border-color: #C5DBEC;
	border-collapse: collapse;
	margin-top: 10px;
}
table.laundry th {
	border-width: 1px;
	border-style: solid;
	border-color: #C5DBEC;
	background-color: #FFC;
	
}
table.laundry td {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #C5DBEC;
	background-color: #FFC;
}

table.laundry-items {
	border-width: 0px;	
}
table.laundry-items th {
	border-width: 0px;	
}
table.laundry-items td {
	border-width: 0px;
}

table.trans-details td
{
	width: 200px;
}

.form-button {   
   text-decoration:none !important; 
   cursor:pointer; 
}

.actions {
	padding-top: 10px;
}

.page-header {
	background-image: url(/portal_skins/custom/home_background.gif);
	background-color:#00568d;
	background-repeat: no-repeat;
	background-position: right top;
}

.top-navigation {
	height: 20px; 
	background: #CCC;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-bottom-color: #690;
}

.header-contents {
	
}

.body-class {
	background: #CCC 50% 50% repeat-x;
}
