<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	

	<bean id="InventoryListExcelView"
	   	class="com.smartworks.invtmgmt.web.ui.view.InventoryListExcelView">
	</bean>
    
    <bean id="LaundryListExcelView"
	   	class="com.smartworks.invtmgmt.web.ui.view.LaundryListExcelView">
	</bean>
	
	 <bean id="LaundryReportExcelView"
	   	class="com.smartworks.invtmgmt.web.ui.view.LaundryReportExcelView">
	</bean>
	<bean id="LaundrySummaryReportView"
	   	class="com.smartworks.invtmgmt.web.ui.view.LaundrySummaryReportView">
	</bean>
	
	
	<!-- IssueReturnExcelView , com.smartworks.invtmgmt.converter-->
 	<bean id="IssueReturnExcelView"
	   	class="com.smartworks.invtmgmt.web.ui.view.IssueReturnExcelView">
	   	
	</bean>
</beans>